# Ignore Visual Studio folder inside project
ProyectoFinal/.vs/

# Ignore IntelliSense files
ProyectoFinal/ipch/
*.ipch
*.pch

# Ignore compiled files
*.ilk
*.idb
*.tlog
*.log

# Ignore user-specific files
*.user
*.suo
*.cache
